<h1>新規登録</h1>
<div class="">
  <div class="">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_message' %>

      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "アカウントを作成する", class: "btn btn-primary" %>
    <% end %>
    <p>ログインは <%= link_to "こちら", login_path %></p>
  </div>
</div>